In [39]:
import pandas as pd
from datetime import datetime, timedelta
import warnings
warnings.filterwarnings("ignore")

df = pd.read_excel('5-Year TNUoS Tariff Report Tables - Apr24v3_External 1.xlsx', sheet_name = 'TB', skiprows = [0, 1, 2])
years = [{'Domestic':0.104586, 'LV_NoMIC_1':0.069796, 'LV_NoMIC_2':0.253213, 'LV_NoMIC_3':0.584795, 'LV_NoMIC_4':1.741054, 'LV1':3.129643, 'LV2':5.323905, 'LV3':8.488176, 'LV4':19.793806, 'HV1':16.455194, 'HV2':49.655569, 'HV3':95.286086, 'HV4':243.634626, 'EHV1':132.851337, 'EHV2':668.538064, 'EHV3':1255.850, 'EHV4':3520.063002, 'T-Demand1':397.072685, 'T-Demand2':1611.510222, 'T-Demand3':3754.664746, 'T-Demand4':11958.120683, 'Unmetered':1.188571}]
periods = ['2025/26', '2026/27', '2027/28', '2028/29']
for p in periods:
    years.append(pd.Series(df[p].iloc[1:24].drop([22]).values,index=df.Band.iloc[1:24].drop([22])).to_dict())

In [45]:
output = pd.DataFrame(columns = list(years[0].keys()))
output

Empty DataFrame
Columns: [Domestic, LV_NoMIC_1, LV_NoMIC_2, LV_NoMIC_3, LV_NoMIC_4, LV1, LV2, LV3, LV4, HV1, HV2, HV3, HV4, EHV1, EHV2, EHV3, EHV4, T-Demand1, T-Demand2, T-Demand3, T-Demand4, Unmetered]
Index: []

[0 rows x 22 columns]

In [54]:

# Split start date to convert to datetime
start_date = datetime(2024,4,1,0,0,0)
end_date = datetime(2029,3,31,23,30,0)

dates_range = []
# Increment every 30 minutes from start date to end date
while start_date <= end_date:
    dates_range.append(start_date)
    start_date += timedelta(minutes=30)
output['Date (UTC)'] = dates_range

In [57]:
def convert(time):
    if time < datetime(2025,4,1,0,0,0):
        return 0
    elif time < datetime(2026,4,1,0,0,0):
        return 1
    elif time < datetime(2027,4,1,0,0,0):
        return 2
    elif time < datetime(2028,4,1,0,0,0):
        return 3
    else:
        return 4

In [58]:
for c in output.columns[:-1]:
    output[c] = output['Date (UTC)'].apply(lambda x: years[convert(x)][c])

In [72]:
col = list(output.columns[:-1].insert(0,'Date (UTC)'))
output = output[col]
output

,Date (UTC),Domestic,LV_NoMIC_1,LV_NoMIC_2,LV_NoMIC_3,LV_NoMIC_4,LV1,LV2,LV3,LV4,...,HV4,EHV1,EHV2,EHV3,EHV4,T-Demand1,T-Demand2,T-Demand3,T-Demand4,Unmetered
0,2024-04-01 00:00:00,0.104586,0.069796,0.253213,0.584795,1.741054,3.129643,5.323905,8.488176,19.793806,...,243.634626,132.851337,668.538064,1255.850000,3520.063002,397.072685,1611.510222,3754.664746,11958.120683,1.188571
1,2024-04-01 00:30:00,0.104586,0.069796,0.253213,0.584795,1.741054,3.129643,5.323905,8.488176,19.793806,...,243.634626,132.851337,668.538064,1255.850000,3520.063002,397.072685,1611.510222,3754.664746,11958.120683,1.188571
2,2024-04-01 01:00:00,0.104586,0.069796,0.253213,0.584795,1.741054,3.129643,5.323905,8.488176,19.793806,...,243.634626,132.851337,668.538064,1255.850000,3520.063002,397.072685,1611.510222,3754.664746,11958.120683,1.188571
3,2024-04-01 01:30:00,0.104586,0.069796,0.253213,0.584795,1.741054,3.129643,5.323905,8.488176,19.793806,...,243.634626,132.851337,668.538064,1255.850000,3520.063002,397.072685,1611.510222,3754.664746,11958.120683,1.188571
4,2024-04-01 02:00:00,0.104586,0.069796,0.253213,0.584795,1.741054,3.129643,5.323905,8.488176,19.793806,...,243.634626,132.851337,668.538064,1255.850000,3520.063002,397.072685,1611.510222,3754.664746,11958.120683,1.188571
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87643,2029-03-31 21:30:00,0.149774,0.103054,0.373868,0.863450,2.570664,4.620914,7.860739,12.532781,29.225530,...,359.726229,196.154837,987.095635,1854.261426,5197.368726,586.277335,2379.392876,5543.757915,17656.150594,1.754924
87644,2029-03-31 22:00:00,0.149774,0.103054,0.373868,0.863450,2.570664,4.620914,7.860739,12.532781,29.225530,...,359.726229,196.154837,987.095635,1854.261426,5197.368726,586.277335,2379.392876,5543.757915,17656.150594,1.754924
87645,2029-03-31 22:30:00,0.149774,0.103054,0.373868,0.863450,2.570664,4.620914,7.860739,12.532781,29.225530,...,359.726229,196.154837,987.095635,1854.261426,5197.368726,586.277335,2379.392876,5543.757915,17656.150594,1.754924
87646,2029-03-31 23:00:00,0.149774,0.103054,0.373868,0.863450,2.570664,4.620914,7.860739,12.532781,29.225530,...,359.726229,196.154837,987.095635,1854.261426,5197.368726,586.277335,2379.392876,5543.757915,17656.150594,1.754924
87647,2029-03-31 23:30:00,0.149774,0.103054,0.373868,0.863450,2.570664,4.620914,7.860739,12.532781,29.225530,...,359.726229,196.154837,987.095635,1854.261426,5197.368726,586.277335,2379.392876,5543.757915,17656.150594,1.754924

In [73]:
output.to_csv('non-locational charges.csv', index = False)