In [146]:
import pandas as pd
import numpy as np
from datetime import date, timedelta
import csv

df = pd.DataFrame({'Date (UTC)': [], 'ETLMOj+': [], 'ETLMOj-': []})

def period(start, end, plus, minus):
    temp = pd.DataFrame({'Date (UTC)':[]})
    dates = []

    delta = end - start

    for i in range(delta.days + 1):
        day = start + timedelta(days=i)
        for j in range(0,48):
            dates.append(day)
            
    temp['Date (UTC)'] = dates
    temp['ETLMOj+'] = plus
    temp['ETLMOj-'] = minus
    return temp

In [147]:
times = []
current = datetime(2024,9,1,0,0,0)
for i in range(48):
    times.append(current.time())
    t  = current + timedelta(minutes=30)
    current = t

In [148]:
df = pd.concat([df, period(date(2024, 4, 1), date(2024, 5, 31), -0.01577, 0.0108)])
df = pd.concat([df, period(date(2024, 6, 1), date(2024, 8, 31), -0.01692, 0.01485)])
df = pd.concat([df, period(date(2024, 9, 1), date(2024, 11, 30), -0.0163, 0.0133)])
df = pd.concat([df, period(date(2024, 12, 1), date(2025, 2, 28), -0.01753, 0.00825)])
df = pd.concat([df, period(date(2025, 3, 1), date(2029, 3, 31), -0.01577, 0.018)])

In [149]:
df['Time (UTC)'] = np.resize(times,len(df))
df['Datetime (UTC)'] = df['Date (UTC)'].astype(str) + ' '+ df['Time (UTC)'].astype(str)
df = df.drop(['Date (UTC)', 'Time (UTC)'], axis = 1)
col = ['Datetime (UTC)', 'ETLMOj+', 'ETLMOj-']
df = df[col]
df.to_csv('Transmission loss adjustments.csv',index = False)

In [150]:
df

            Datetime (UTC)  ETLMOj+  ETLMOj-
0      2024-04-01 00:00:00 -0.01577   0.0108
1      2024-04-01 00:30:00 -0.01577   0.0108
2      2024-04-01 01:00:00 -0.01577   0.0108
3      2024-04-01 01:30:00 -0.01577   0.0108
4      2024-04-01 02:00:00 -0.01577   0.0108
...                    ...      ...      ...
71611  2029-03-31 21:30:00 -0.01577   0.0180
71612  2029-03-31 22:00:00 -0.01577   0.0180
71613  2029-03-31 22:30:00 -0.01577   0.0180
71614  2029-03-31 23:00:00 -0.01577   0.0180
71615  2029-03-31 23:30:00 -0.01577   0.0180

[87648 rows x 3 columns]